---
layout: post
title: blog
# Note that this index page uses a full-width layout!
---
  {% assign categories = "" | split:"" %}
    {% for c in site.categories %}
      {% assign categories = categories | push: c[0] %}
    {% endfor %}
  {% assign categories = categories | sort_natural %}

  {% for category in categories %}
    <h1 class="content-listing-header sans">{{ category }}</h1>
    <ul class="content-listing ">
    {% for post in site.categories[category] %}
      <li class="listing">
        <hr class="slender">
        <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="contrast">{{ post.title }}</h3></a>
        <br><span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span>  <br/>
      </li>
    {% endfor %}
    </ul>
  {% endfor %}

  <!--
  <ul class="content-listing ">
    {% for post in site.posts %}      
        <li class="listing">
          <hr class="slender">
          <a href="{{ post.url | prepend: site.baseurl }}"><h3 class="contrast">{{ post.title }}</h3></a>
          <br><span class="smaller">{{ post.date | date: "%B %-d, %Y" }}</span>  <br/>
          <div>{{ post.excerpt }}</div> 
        </li>
    {% endfor %}
  </ul>
  -->